@model WaterCompanySystem.Models.Payment_Type

@{
    ViewBag.Title = "Details";
}

<h2>@WaterCompanySystem.Resourses.Page.Details</h2>

<div>
    <h4>Payment_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@WaterCompanySystem.Resourses.Page.Edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(@WaterCompanySystem.Resourses.Page.BacktoList, "Index")
</p>
