@model WaterCompanySystem.Models.BottleType

@{
    ViewBag.Title = "Details";
}

<h2>@WaterCompanySystem.Resourses.Page.Details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.bottle_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bottle_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@WaterCompanySystem.Resourses.Page.Edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(@WaterCompanySystem.Resourses.Page.BacktoList, "Index")
</p>
