@model WaterCompanySystem.Models.Expense_Transaction

@{
    ViewBag.Title = "Delete";
}

<h2>@WaterCompanySystem.Resourses.Page.Delete</h2>

<h3>@WaterCompanySystem.Resourses.Page.Areyousureyouwanttodeletethis?</h3>
<div>
    <h4>Expense_Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.transaction_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transaction_date)
        </dd>

        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.suplier_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplierType.suplier_type)
        </dd>

        <dt>
            @Html.DisplayName(@WaterCompanySystem.Resourses.Page.Transaction_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType.Transaction_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@WaterCompanySystem.Resourses.Page.Delete" class="btn btn-default" /> |
            @Html.ActionLink(@WaterCompanySystem.Resourses.Page.BacktoList, "Index")
        </div>
    }
</div>
