@model WaterCompanySystem.Models.Expense_Transaction
    @{
        ViewBag.Title = "Edit";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.0"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>
<body>

    <div class="title-header">
        <h2 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-water"></i>@WaterCompanySystem.Resourses.Page.ExpenseTransactionDismissals</h2>
    </div>
    <br />
    @*<canvas id="myChart"></canvas>*@
    <fieldset class="card p-4 shadow">
        <legend class="bg-custom shadow  px-3">@WaterCompanySystem.Resourses.Page.Edit</legend>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.transaction_date)
        <div class="row my-2">
            @*<div class="col-md-3">
                @Html.Label(@WaterCompanySystem.Resourses.Page.transaction_date)
                <div>
                    @Html.TextBoxFor(model => model.transaction_date, "{0:dd/MM/yyyy}", new { @class = "form-control", @id = "transaction_date",@readonly="readonly"})
                    @Html.ValidationMessageFor(model => model.transaction_date, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="col-md-3">
                @Html.Label(@WaterCompanySystem.Resourses.Page.transaction_type_id)
                <div>
                    @Html.DropDownList("transaction_type_id", null, htmlAttributes: new { @class = "form-control", id = "transaction_type_id" })
                    @Html.ValidationMessageFor(model => model.transaction_type_id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.Label(@WaterCompanySystem.Resourses.Page.TotalAmount)
                <div>
                    @Html.TextBoxFor(model => model.amount, new { @class = "form-control", @id = "amount", @name = "amount" })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.Label(@WaterCompanySystem.Resourses.Page.note)
                <div>
                    @Html.TextBoxFor(model => model.note, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br />
        <div align="center">
            <input type="submit" value="@WaterCompanySystem.Resourses.Page.Edit" id="CreateButton" class="btn btn-primary" />
            <a href="/Expense_Transaction/Index_Dismissals" class="btn btn-facebook">@WaterCompanySystem.Resourses.Page.BacktoList</a>
        </div>
    </div>
        }
    </fieldset>
    @*<script>
        $(function () {
            $('#transaction_date').datepicker({
                dateFormat: 'yy-mm-dd'  // Same as the format used in the model
            });
        });
    </script>*@
<script>
    //$.noConflict();
    //jQuery(function ($) {
       
    //    // Initialize the datepicker on the transaction_date field
    //    $('#transaction_date').datepicker({
    //        dateFormat: 'dd-M-yy',  // Date format for datepicker
    //        changeMonth: true,
    //        changeYear: true,
    //        yearRange: "1900:2100",
    //        autoclose: true
    //    });

        //// Set the current value of the input field to the formatted date if a date exists
        //var currentDate = $('#transaction_date').val();
        //if (currentDate) {
        //    var formattedDate = $.datepicker.formatDate('dd-M-yy', new Date(currentDate));
        //    $('#transaction_date').val(formattedDate);
        //}
   // });
</script>
</body>
</html>
