@model IEnumerable<WaterCompanySystem.Models.SuplierTypePrice>

@{
    ViewBag.Title = "Index";
}
@if (TempData["AlertMessage"] == "success")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
            'نجحت العملية',
            'تمت الاضافة بنجاح',
            'success'
        )
    </script>
}
@if (TempData["AlertMessage"] == "edit")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
            'نجحت العملية',
            'تمت الاضافة بنجاح',
            'success'
        )
    </script>
}@if
 (TempData["AlertMessage"] == "deleted")
{
    <script src="~/Content/cdnjs/sweetalert2.all.min.js"></script>
    <script type="text/javascript">
        Swal.fire(
            'نجحت العملية',
            'تم الحذف بنجاح',
            'error'
        )
    </script>
}
<div class="title-header">
    <h2 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-water"></i>@WaterCompanySystem.Resourses.Page.SuplierTypePrices</h2>
</div>
<br />
<br />
@using (Html.BeginForm("Index", "SuplierNames", FormMethod.Get))
{
    <div style="margin-bottom:20px" align="center">
        <input type="text" name="search" placeholder="Search" class="form-control" style="width: 300px; margin-bottom: 10px" />
        <input type="submit" name="submit" value="Search" class="btn btn-outline-primary" />
    </div>

    <a href="/SuplierTypePrices/Create" target="_blank" class="btn btn-dark justify-content-end">@WaterCompanySystem.Resourses.Page.Create</a>

}

<div class="table-responsive">
    <table class="table table-border table-hover" id="sortedtable">
        <thead class="thead-dark">

            <tr>
                <th>
                    @Html.DisplayName(@WaterCompanySystem.Resourses.Page.nick)
                </th>
                <th>
                    @Html.DisplayName(@WaterCompanySystem.Resourses.Page.price)
                </th>
                <th>
                    @Html.DisplayName(@WaterCompanySystem.Resourses.Page.SuplierTypes)
                </th>
                <th>
                    @WaterCompanySystem.Resourses.Page.Control
                </th>
            </tr>
</thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nick)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SuplierType.suplier_type)
                    </td>
                    <td>
                        <a href="/SuplierTypePrices/Edit/@item.id" class="btn btn-outline-success"><i class="fa fa-pencil-alt"></i></a>
                        |
                        <a href="/SuplierTypePrices/Details/@item.id" class="btn btn-outline-info"><i class="fa fa-list"></i></a>
                        |
                        <a href="/SuplierTypePrices/Delete/@item.id" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>

                    </td>
                </tr>
            }

    </table>
    </div>
