@model WaterCompanySystem.Models.RoleTable

@{
    ViewBag.Title = "Create";
}

<div class="title-header">
    <h2 class="d-flex justify-content-center "><i class="mx-2 my-auto fa fa-hand-holding-water"></i>@WaterCompanySystem.Resourses.Page.Roles</h2>
</div>
<br />
<br />
<fieldset class="card p-4 shadow">
    <legend class="bg-custom shadow  px-3">@WaterCompanySystem.Resourses.Page.Add</legend>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row my-2">

                <div class="col-md-4">
                    @Html.Label(@WaterCompanySystem.Resourses.Page.Roles)

                    <div>
                        @Html.TextBox("role", "", new { @class = "form-control", @id = "role" })
                        @Html.ValidationMessageFor(model => model.role)
                    </div>
                </div>
            </div>
                <br />
                <div align="center">

                    <input type="submit" value="@WaterCompanySystem.Resourses.Page.Create" id="CreateButton" class="btn btn-primary" />

                    <a href="/RoleTables/Index" class="btn btn-facebook">@WaterCompanySystem.Resourses.Page.BacktoList</a>
                </div>
            
     </div>
            }
 </fieldset>
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>RoleTable</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.role, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.role, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
